<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breadcrumb</title>
    <link rel="stylesheet" href="breadcrumb.css">
</head>
<body>


    <section class="breadcrumb" aria-label="Page header">
        <div class="breadcrumb__container full-right">
            <div class="breadcrumb__content">
                    <h1 class="breadcrumb__title">Home Page</h1>
                        <a href="#" class="breadcrumb__sponsor">
                            <picture class="breadcrumb__sponsor-media">
                            <img
                                src="../img/poweredby.png"
                                alt="Powered by company name"
                                class="breadcrumb__sponsor-image"
                            />
                            </picture>
                        </a>
            </div>
        </div>
    </section>
            
</body>
</html>