<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="nav-bar.css">
    <title>Document</title>
</head>
<body>


  
<div class="notification">
  
  <p class="notification__text">
    LIVE RACE STREAM FROM GATOR NATIONALS IN SARASOTA, FL /
    
    <span class="notification__highlight">
      WATCH NOW
    </span>
  </p>

  <button 
    class="notification__toggle"
    aria-label="Close notification"
    aria-expanded="false"
  >
    <img 
      class="notification__icon"
      src="../img/menu-close-icon.png"
      alt=""
    >
  </button>

</div>


    
</body>
</html>